
 *{
  box-sizing: border-box;


  
}

body {
    background-image: "assets/images/swirl_pattern.png";
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 100%;
    width: 100%; 
    font-size: 24px;
}

header {

    margin-left: 0;
    margin-top: 0;
    height: 105px;
    padding: 0px;
    margin-bottom: 20px;
    background: #ffffff;
 }

ul {

    list-style: none;
    margin-left: 150px;
    padding: 0px;
    overflow: hidden;
    color: black;
    float: left;
    


}
h1 {
    padding: 10px;


}

li {
    margin-left: 0;
    float: left;
}

h2 {
    border-bottom-width: 4px;
    margin-left: 20px;

color: #4aaaa5;
}

p {
    margin-left: 0px;
    text-overflow: auto;
    float: left;

}

footer {

    background-color: #666666;
}
Main-content {
    
    border-style: solid;
    border-width: 10px;
    border-color: #dddddd;
    background-color: #ffffff;
    color: black;
    width: 650px; 
    float: left;

}

#Your-Name {
    border-bottom-width: 4px;
    text-align: center;
    margin-left: 90px;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    background-color: #4aaaa5;
    color: white;
    float: left;
}

#Menu {
    padding: 20px;
    color: #4aaaa5;
    width: 33%;
    float: left;
}

#Portfolio {
    padding: 20px;
    background-color: white;
    color: black;
    width: 33%;
    float: left;

}

#Contact {
    padding: 20px;
    background-color: white;
    color: black;
    width: 33%;
    float: left;
}

#main-bio {
    box-sizing: border-box;
    clear: both;
    overflow: auto;
    margin-left: 90px;
    margin-top: 40px;
    border-style: solid;
    border-width:  3px;
    border-color: #dddddd;
    background-color: #ffffff;
    color: black;
    width: 650px; 
    float: left;
}
